<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="UPM-ETSIINF" name="data-usage" version="0.1.0">

  <details>
    <title>Data Usage</title>
    <email>mgarcia@conwet.com</email>
    <image>images/catalogue.png</image>
    <smartphoneimage>images/catalogueSmartphone.png</smartphoneimage>
    <description>FIDASH widget that shows top 20 tenants</description>
    <authors>mgarcia, mjimenez</authors>
  </details>

  <wiring>
    <outputendpoint name="tenant_id" type="text" label="Tenant ID" description="Sends a tenant ID." friendcode="tenant_id"/>
  </wiring>

  <preferences>
  </preferences>

  <persistentvariables>

    <variable name="ramOn" type="text" label="RAM ON" description="" />
    <variable name="ramPctOn" type="text" label="RAM PCT ON" description="" />
    <variable name="cpuPctOn" type="text" label="CPU PCT ON" description="" />
    <variable name="vmsOn" type="text" label="VMs ON" description="" />
    <variable name="vcpuOn" type="text" label="vCPUs ON" description="" />
    <variable name="sort" type="text" label="Type of sorting" description="" />
    <variable name="closed" type="text" label="Navbar closed" description="" />
  </persistentvariables>

  <contents src="index.html" useplatformstyle="true"/>
  <rendering height="46" width="14"/>
</widget>
